/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.header__title {
  text-shadow: 4px 4px var(--deep-pink);
}


@media (prefers-color-scheme: dark) {
  body {
    --main-color: var(--deep-pink); /* swap on --gray */
    --text-color: var(--amaranth-pink); /* swap on --gray */
    --title-color: var(--violet); /* swap on --candy-pink */
    --accent: var(--deep-pink); /* swap on --purple-pink */
    --section-title-color: var(--purple-black); /* swap on --deep-pink */
    --menu-item-hover: var(--deep-pink-shadow); /* swap on --gray-shadow */
    --focus-text-link: var(--amaranth-pink); /* swap on --gray */
    --hover-button: var(--deep-pink-shadow); /* swap on --gray-shadow */
    --secret-camera: var(--show); /* swap on --hide */
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
    background-color: #000028;
  }
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-color: #000028;
  --main-color: var(--deep-pink); /* swap on --gray */
  --text-color: var(--amaranth-pink); /* swap on --gray */
  --title-color: var(--violet); /* swap on --candy-pink */
  --accent: var(--deep-pink); /* swap on --purple-pink */
  --section-title-color: var(--purple-black); /* swap on --deep-pink */
  --menu-item-hover: var(--deep-pink-shadow); /* swap on --gray-shadow */
  --focus-text-link: var(--amaranth-pink); /* swap on --gray */
  --hover-button: var(--deep-pink-shadow); /* swap on --gray-shadow */
  --secret-camera: var(--show); /* swap on --hide */
}
