/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
@media (prefers-color-scheme: light) {
  body {
    --red-black: #353430; /* #FF0070 */
    --red-pink: #ff8dcb; /* #FF0070 */
    --purple-pinky: #ffc2e6; /* #DB00FF */
    --purple-black: #353430; /* #F1B2CE */
    --focus-visible: rgb(255 194 230 / 0.4); /* #353430 */
    --focus-link: #353430; /* #FFC2E6 */
    --hide-show: none; /* block */
  }

  .page {
    background-image: url(../images/cover-image-light.png);
    background-color: #FFF1F7;
  }
}

.page.theme_light {
  background-image: url(../images/cover-image-light.png);
  background-color: #FFF1F7;
  --red-black: #353430; /* #FF0070 */
  --red-pink: #FF8DCB; /* #FF0070 */
  --purple-pinky: #FFC2E6; /* #DB00FF */
  --purple-black: #353430; /* #F1B2CE */
  --focus-visible: rgba(255, 194, 230, 0.4); /* #353430 */
  --focus-link: #353430; /* #FFC2E6 */
  --hide-show: none; /* block */
}
