:root {
  /* COLORS */
  --deep-pink: #ff0070;
  --gray: #353430;
  --purple-pink: #FF8DCB;
  --candy-pink: #FFC2E6;
  --violet: #db00ff;
  --amaranth-pink: #f1b2ce;
  --purple-black: #191316;
  --dark-blue: #000028;
  --lavender-pink: #fff1f7;
  
  /* SHADOWS*/
  --deep-pink-shadow: rgb(255 0 112 / .4);
  --gray-shadow: rgb(50 49 45 / .4);

  /* STATUS */
  --hide: none;
  --show: block;

  /* font */
  --ibm-font: "IBM Plex mono";

  /* constant */
  --resizable-indentation: clamp(10px, 0.0286rem + 2.5445vw, 20px);

  /* redefinitions */
  --main-color: var(--deep-pink); /* swap on --gray */
  --text-color: var(--amaranth-pink); /* swap on --gray */
  --title-color: var(--violet); /* swap on --candy-pink */
  --accent: var(--deep-pink); /* swap on --purple-pink */
  --section-title-color: var(--purple-black); /* swap on --deep-pink */
  --menu-item-hover: var(--deep-pink-shadow); /* swap on --gray-shadow */
  --focus-text-link: var(--amaranth-pink); /* swap on --gray */
  --hover-button: var(--deep-pink-shadow); /* swap on --gray-shadow */
  --secret-camera: var(--show); /* swap on --hide */
  --bg-image: url(../images/cover-image-dark.png); /* swap on cover-image-light.png */
  --bg-color: var(--dark-blue); /* swap on --lavender-pink */
}

